RewriteEngine On

# Accept loading of existing files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Send all other requests to index.php
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
