* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../images/Theatre.jpg") no-repeat center center/cover;
}

/* Back Button */
.back-container {
    text-align: center;
    margin-bottom: 20px;
}

.back-link {
    text-decoration: none;
}

.back-btn {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background-color: transparent;
    color: #D3D3D3;
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}

.back-btn:hover {
    background: #fff;
    color: #000;
}

/* Signup Form Box */
.signup-container {
    width: 420px;
}

.form-box {
    width: 100%;
    background: rgba(255,255,255,0.1);
    border: 2px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.form-box h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;
}

.form-box form {
    width: 100%;
}

/* Inputs */
.form-box input[type="text"],
.form-box input[type="email"],
.form-box input[type="password"],
.form-box input[type="file"] {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 40px;
    outline: none;
    padding: 0 20px;
    margin: 12px 0;
    color: #fff;
    font-size: 15px;
}

.form-box input::placeholder {
    color: #e9e9e9;
}

.form-box input[type="file"] {
    padding: 12px 20px;
}

/* Error Box */
.error-box {
    width: 100%;
    padding: 12px;
    background: rgba(255,0,0,0.2);
    border: 1px solid rgba(255,0,0,0.4);
    border-radius: 10px;
    margin-bottom: 15px;
}

.error-box p {
    color: #ffb3b3;
    font-size: 14px;
}

/* Button */
.form-box button {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    background: #fff;
    color: #333;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s;
}

.form-box button:hover {
    background: #dec90d;
    color: #000;
}

/* Remove unwanted password eye on Edge/Safari */
input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none;
}
