*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: url(../images/loginImg.jpg) no-repeat;
background-position: center;
background-size: cover;

}
.back-container {
  text-align: center;  /* center horizontally */
  margin-top: 20px;    /* space from top */
}

.back-link {
  text-decoration: none; /* remove underline */
}

.back-btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background-color: transparent; /* gold */
  color: #D3D3D3; /* black text */
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.back-btn:hover {
  background-color: #fff; /* white on hover */
  color: #000;
}

.back-btn i {
  font-size: 14px;
}
.wrapper
{
   width: 420px;
   background: transparent;
   border: 2px solid rgba(255,255,255,0.2);
   backdrop-filter: blur(20px);
   box-shadow: 0 0 10px rgba(0,0,0,0.2);
   color: #fff;
   border-radius: 10px;
   padding: 30px 40px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;

}
.wrapper p{
    text-align: center;
    font-size: 12px;
    font-family: 'Backstage', sans-serif;
    color:#D3D3D3;
}
.wrapper .input-box{
    width: 100%;
    height:50px;
    margin: 30px 0px;
    position: relative;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding-right: 45px;
    padding: 20px 45px 20px 20px;
}
.btn:hover
{
    background: #dec90d;
    color:#000;
    cursor: pointer;
}
.input-box input::placeholder{
    color: #fff;
}
.input-box i{
   position: absolute;
    right: 20px;
    top:50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    color:#fff;

}
.wrapper .remember-frogot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-frogot label input{
    accent-color: #fff;
    margin-right: 3px;
}
.remember-frogot a{
    color: #fff;
    text-decoration: none;
}
.remember-frogot a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a{
    color:#fff;
    text-decoration: none;
    font-weight: 600;

}
.register-link p a:hover{
    text-decoration: underline;
}

/*for strong password*/
input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none;
}



